<%- include("partials/header") %>
<br>
<div class="container">
    <form action="/bugs" method="POST">
        <div class="form-group">
            <label>Title*</label>
            <input type="text" class="form-control" name="bug[title]">
        </div>
        <div class="form-group">
            <label>Project*</label>
            <input type="text" class="form-control" name="bug[project]">
        </div>
        <div class="form-group">
            <label>Area*</label>
            <input type="text" class="form-control" name="bug[area]">
        </div>
        <div class="form-group">
            <label>Priority*</label>
            <select class="form-control" name="bug[priority]">
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
            </select>
        </div>
        <div class="form-group">
            <label>Comments</label>
            <textarea name="bug[comment]" cols="30" rows="10" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a class="btn btn-secondary" href="/bugs">Go Back</a>
</div>


<%- include("partials/footer") %>