<%- include("partials/header") %>
<br>
<div class="container">
    <form class="mb-4" action="/bugs" method="POST">
        <div class="form-group">
            <label>Title*</label>
            <input type="text" class="form-control" name="bug[title]">
        </div>
        <div class="form-group">
            <label>Project*</label>
            <input type="text" class="form-control" name="bug[project]">
        </div>
        <div class="form-group">
            <label>Area*</label>
            <input type="text" class="form-control" name="bug[area]">
        </div>
        <div class="form-group">
            <label>Priority*</label>
            <select class="form-control" name="bug[priority]">
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
            </select>
        </div>
        <div class="form-group">
            <label class="d-block">Comments</label>
            <textarea name="bug[comment]" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-group">Submit</button>
        <a class="btn btn-warning btn-group" href="/bugs">Go Back</a>
    </form>
</div>


<%- include("partials/footer") %>